**For, If, Functions**

Functions in Python. A Function is a set of statements that take inputs, do some specific computation and produces output. These functions are called user defined function.

In [10]:
## If conditions and for loops
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
  if i%2 == 0:
    even_sum = even_sum + i
  else:
    odd_sum = odd_sum + i
print(even_sum, odd_sum)

56 64

In [11]:
'''
Syntax
def funcname(parameter1, parameter2,.....):
    function body
'''

'\nSyntax\ndef funcname(parameter1, parameter2,.....):\n    function body\n'

In [12]:
def add(num1, num2):
  return num1 + num2

In [13]:
add(2,4)

6

In [14]:
def add_list(lst):
  sum1 = 0
  for i in lst:
    print(i)
    sum1=sum1+int(i)
  return sum1

In [15]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [16]:
input_num = list(input("Enter the list"))

Enter the list1234567

In [17]:
input_num

['1', '2', '3', '4', '5', '6', '7']

In [18]:
add_list(input_num)

1
2
3
4
5
6
7

28

**Functions in Python**

* Why Function
* Function Defination
* Positional And Keyword Arguments in Functions

In [22]:
## Positional Argument
# Keyword Argument

def hello(name, age=21):
  print("My name is {} and age is {}".format(name,age))

In [23]:
hello()

TypeError: ignored

In [24]:
hello("Pooja")

My name is Pooja and age is 21

In [25]:
hello('Pooja', 22)

My name is Pooja and age is 22

In [26]:
def hello(*args, **kwargs):
  print(args)
  print(kwargs)

In [27]:
hello("Pooja", "Rahamatkar", age=21, dob=2001)

('Pooja', 'Rahamatkar')
{'age': 21, 'dob': 2001}

In [29]:
lst= ["Pooja", "Rahamatkar"]
dict_args= {'age': 21, 'dob': 2000}

In [30]:
hello(lst, dict_args)

(['Pooja', 'Rahamatkar'], {'age': 21, 'dob': 2000})
{}

In [32]:
## See the Difference here and above statement the way of execution

hello(*lst, **dict_args)

('Pooja', 'Rahamatkar')
{'age': 21, 'dob': 2000}