In [1]:
def even_or_odd(num):
  if num%2==0:
    return "The number{} is Even".format(num)
  else:
    return "The number {} is Odd".format(num)

In [2]:
even_or_odd(24)

'The number24 is Even'

In [3]:
lst=[1,2,3,4,5,6,7,8,9,24,56,78]

In [4]:
# no need to iterate the data into the iterables manually
map(even_or_odd,lst)

In [5]:
list(map(even_or_odd,lst))

['The number 1 is Odd',
 'The number2 is Even',
 'The number 3 is Odd',
 'The number4 is Even',
 'The number 5 is Odd',
 'The number6 is Even',
 'The number 7 is Odd',
 'The number8 is Even',
 'The number 9 is Odd',
 'The number24 is Even',
 'The number56 is Even',
 'The number78 is Even']