**Lambda Function**
* anonymouns function

A Function with no Name.

It used to create functions in single line

In [13]:
## addition using normal function
def addition(a,b):
  return a+b

In [14]:
addition(4,5)

9

In [15]:
# addition using lambda function
addition = lambda a,b:a+b

In [16]:
addition(12,14)

26

In [17]:
# substraction using lambda function
subtraction = lambda x,y:x-y

In [18]:
subtraction(12,14)

-2

In [19]:
# modules of number using normal function
def even(num):
  if num%2==0:
    return True

In [23]:
# If we enter odd value
print(even(9))

None

In [24]:
# If we enter even value
print(even(10))

True

In [25]:
# modules of number using lambda function
even1 = lambda a:a%2==0

In [26]:
even1(12)

True

In [28]:
# Addition of 3 numbers using normal function
def addition(x,y,z):
  return x+y+z

In [29]:
addition(2,3,4)

9

In [30]:
# Addition of 3 numbers using lambda function
addition = lambda x,y,z:x+y+z

In [31]:
addition(5,6,7)

18

In [32]:
# sort using normal fuction
def a_first(a):
  return a[1]

a=[[1,14],[5,6],[8,23]]
a.sort(key=a_first)
print(a)

[[5, 6], [1, 14], [8, 23]]

In [40]:
# sort using lambda function

a=[[1,14],[5,6],[8,23]]
a.sort(key=lambda x:x[1])
print(a)

[[5, 6], [1, 14], [8, 23]]