**T-Test**

A T-test is a type of inferential statistic which is used determine if there is a significant differerce between the maeans of two groups which may be related in certain features.

* One Sampled T-test
* Two Sampled T-test

**One Sampled T-test**

**Example 1**

In [1]:
ages = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [2]:
len(ages)

32

In [3]:
import numpy as np
ages_mean = np.mean(ages)
print(ages_mean)

30.34375

In [5]:
## Let's Take Sample

sample_size = 10
age_sample = np.random.choice(ages, sample_size)

In [7]:
age_sample

array([16, 16, 28, 25, 43, 28, 70, 14, 16, 30])

In [8]:
from scipy.stats import ttest_1samp

In [9]:
ttest, p_value = ttest_1samp(age_sample,30)

In [10]:
print(p_value)

0.8013417218378207

In [11]:
if p_value < 0.05:      #alpha value is 0.05 or 5%
  print("We are rejecting null hypothesis  !")
else:
  print("We are accepting null hypothesis  !")

We are accepting null hypothesis  !

**Example 2**

Consider the age of students in a college and in Class A

In [12]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_ages = stats.poisson.rvs(loc=18, mu=35, size=1500)
classA_ages = stats.poisson.rvs(loc=18, mu=30, size=60)

In [13]:
classA_ages.mean()

46.9

In [14]:
_,p_value = stats.ttest_1samp(a=classA_ages, popmean=school_ages.mean())

In [15]:
p_value

1.139027071016194e-13

In [17]:
school_ages.mean()

53.303333333333335

In [18]:
if p_value < 0.05:     ## alpha value is 0.05 or 5%
  print("We are rejecting null hypothesis")
else:
  print("We are accepting null hypothesis")

We are rejecting null hypothesis

**Two Sample T-test**

The Independent Samples T-Test of 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples T-Test is a parametric test. This test is also known as : **Independent T-Test**

In [19]:
np.random.seed(12)
ClassB_ages = stats.poisson.rvs(loc=18, mu=33, size=60)
ClassB_ages.mean()

50.63333333333333

In [20]:
_,p_value = stats.ttest_ind(a=classA_ages, b=ClassB_ages, equal_var=False)

In [21]:
if p_value < 0.05:   # alpha value is 0.05 or 5%
  print("We are rejecting null hypothesis")
else:
  print("We are accepting null hypothesis")

We are rejecting null hypothesis

**Paired T-test**

When you want to check how different samples from the same group are, you can go for a paired T-test

In [22]:
weight1 = [25,30,28,35,28,34,26,29,30,26,28,32,31,20,45]
weight2 = weight1 + stats.norm.rvs(scale=5, loc=-1.2, size=15)

In [23]:
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 20, 45]
[30.62926457 34.96022437 29.05444617 30.59295091 19.91201983 37.62873174
 18.3799827  21.4271395  36.41420881 32.10941216 26.98827982 29.569014
 26.47851213 20.55667769 41.37984284]

In [29]:
from pandas.core.arrays.sparse import array
weight_df = pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                         "weight_change":np.array(weight2)-np.array(weight1)})

In [30]:
weight_df

    weight_10  weight_20  weight_change
0          25  30.629265       5.629265
1          30  34.960224       4.960224
2          28  29.054446       1.054446
3          35  30.592951      -4.407049
4          28  19.912020      -8.087980
5          34  37.628732       3.628732
6          26  18.379983      -7.620017
7          29  21.427139      -7.572861
8          30  36.414209       6.414209
9          26  32.109412       6.109412
10         28  26.988280      -1.011720
11         32  29.569014      -2.430986
12         31  26.478512      -4.521488
13         20  20.556678       0.556678
14         45  41.379843      -3.620157

In [31]:
_,p_value = stats.ttest_rel(a=weight1, b=weight2)

In [32]:
print(p_value)

0.597923143813408

In [33]:
if p_value < 0.05:      # alpha value is 0.05 or 5%
  print("We are rejecting null hypothesis")
else:
  print("We are acceptint null hypothesis")

We are acceptint null hypothesis