**ZIP Function**

The Zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [1]:
lst1 = ["Pooja","chiku","Chini"]
lst2 = ["a","b","c"]

In [2]:
for i in lst1:
  print(i)

Pooja
chiku
Chini

In [3]:
output = zip(lst1, lst2)

In [4]:
output

In [5]:
lst(output)

NameError: ignored

In [6]:
## Zip object is an iterator
next(output)

('Pooja', 'a')

In [7]:
lst1 = ["Pooja","chiku","Chini"]
lst2 = ["a","b","c"]
lst3 = [1,2,3]

In [8]:
output = zip(lst1,lst2,lst3)
for i,j,k in output:
  print(i,j,k)

Pooja a 1
chiku b 2
Chini c 3

In [9]:
list(zip())

[]

In [10]:
dict1 = {"name":"Pooja", "lst_name":"Rahamatkar", "age":22}
dict2 = {"name":"Kiara", "lst_name":"Rathod", "age":23}

In [11]:
dictionary = zip(dict1.items(), dict2.items())

In [12]:
dict1

{'age': 22, 'lst_name': 'Rahamatkar', 'name': 'Pooja'}

In [13]:
for(i,j),(i2,j2) in dictionary:
  print(i,j)
  print(i2, j2)

name Pooja
name Kiara
lst_name Rahamatkar
lst_name Rathod
age 22
age 23